#display{
-fx-background-color: lightgreen;
-fx-font-size: 20;
-fx-font-family: Arial;
-fx-stroke:black;
-fx-font-style:italic;
}

#equalsBtn{
    -fx-background-color: lightcoral;
    -fx-font-family: Arial;
    -fx-font-size:20;
    -fx-font-weight: lighter;
    -fx-stroke: black;
    -fx-font-style:italic;
}

#tekst{
    -fx-background-color: lightgreen;
    -fx-font-family: Arial;
    -fx-font-size:20;
    -fx-font-weight: lighter;
    -fx-stroke: black;
    -fx-font-style:italic;
}
